footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: black;
    color: aliceblue;
    height: 20px;
   justify-content:space-between
  
}



li{
    color: aliceblue;

}
