@import url(/styles/header.css);
@import url(/styles/main.css);
@import url(/styles/footer.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a{
    text-decoration: none;
}